.navbar{
    background-color: cadetblue;
    /* height: 5em; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: cursive;
    padding: 0px 40px 0px 40px;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.logo{
    border-radius: 50px;
}
.profileName{
    display: flex;
    color: #fff;
    font-size: 1.5em;
    align-items: center;
    gap: 20px;
}
.nav-list{
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    width: 100%;
}
.nav-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: ghostwhite;
    /* color: #fff; */
    text-decoration: none;
    height: 30px;
    width: 14em;
}
.nav-list a:hover{
    background-color: darkcyan;
    color: #fff;
    transition: 1s;
}
.nav-left{
    background: #fff;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    height: 56px;
    width: 42em;
    border-radius: 35px;
    display: flex;
    align-items: center;
}