@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Satisfy&display=swap');

.profile-main{
    display: flex;
    flex-direction: column;
align-items: center;
position: relative;
top: -55px;
}
.profile-image{

}
.profile-card{
    padding: 90px 50px 50px 50px;
    /* width: 50%; */
    height: 20em;
    color: #fff;
    
    font-family: 'Caveat', cursive;
    font-weight: 400;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.name-text{
    text-align: center;
    font-size: 4em;
}
.role-text{
    text-align: center;
    font-size: 2em;
}
.switchImg{
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    font-size: 1.5em;
}
